{% extends "layouts/base.html" %} {% block content %}
<article>
  <header>
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </header>

  <section>
    <article>
      <h3>Getting started</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium
        dolores minus, tenetur doloremque sunt animi laudantium unde saepe
        deserunt itaque cumque vel voluptatibus, vero quo atque fugiat! Amet,
        dolores praesentium.
      </p>
      <a href="/getting-started">View getting started guidance</a>
    </article>

    <article>
      <h3>Ingredients</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
        reiciendis cupiditate consectetur delectus aliquam necessitatibus esse,
        deserunt culpa quas temporibus eveniet molestias voluptates accusantium
        dicta rem. Eum, molestiae a. Quo?
      </p>
      <a href="/ingredients">View ingredients</a>
    </article>

    <article>
      <h3>Recipes</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo dolorum
        dolores veritatis sunt soluta vero omnis dolorem suscipit alias.
        Expedita repudiandae nostrum necessitatibus ad omnis esse quos suscipit
        nobis quisquam!
      </p>
      <a href="/recipes">View recipes</a>
    </article>
  </section>
</article>
{% endblock %}
