{% extends "layouts/base.html" %} 

{% block content %}
<article>
  <h1 class="p-6 pb-3 text-4xl font-bold">{{ title }}</h1>

  <div class="p-6 pt-3">
    {{ content | safe }} 
  </div>

  {% if collections[group].length > 0 %}
  <hr class="mx-6 border-t-slate-200">
  <ol role="list" class="grid gap-6">
    {% for item in collections[group] %}
    <li class="p-6">
      <article class="p-4 rounded-xl bg-white shadow">
        <h2 class="font-bold text-lg"><a href="{{ item.url }}" class="text-emerald-500 underline hover:text-emerald-700">{{ item.data.title }}</a></h2>
        <p class="mt-2">{{ item.data.about }}</p>        
      </article>
    </li>
    {% endfor %}
  </ol>
  {% endif %}
</article>
{% endblock %}
