{% extends "layouts/base.html" %} 

{% block content %}
<article class="p-6">
  <header class="mb-10">
    <h1 class="text-4xl font-bold">{{ title }}</h1>
    <p class="mt-6 text-xl font-extralight">{{ about }}</p>
  </header>

  <div class="my-6 space-y-4">
    {{ content | safe }}
  </div>

  <footer>
    <p class="text-sm text-slate-400 font-extralight">Last updated:&nbsp;
      <time datetime="{{ page.date | toISOString }}">
        {{ page.date | asPostDate }}
      </time>
    </p>
  </footer>
</article>
{% endblock %}
