code[class*=language-],
pre[class*=language-] {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  font-size: .9em;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #fff;
  color: #4c566a
}

code[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection,
pre[class*=language-] ::-moz-selection,
pre[class*=language-]::-moz-selection {
  text-shadow: none;
  background: #e0e0e0
}

code[class*=language-] ::selection,
code[class*=language-]::selection,
pre[class*=language-] ::selection,
pre[class*=language-]::selection {
  text-shadow: none;
  background: #e0e0e0
}

pre[class*=language-] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto
}

:not(pre) > code[class*=language-] {
  padding: .1em;
  border-radius: .3em
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #b0b0b0
}

.token.punctuation {
  color: #303030
}

.token.namespace {
  opacity: .7
}

.token.boolean,
.token.number,
.token.operator {
  color: #fd8900
}

.token.property {
  color: #aba800
}

.token.tag {
  color: #3777e6
}

.token.string {
  color: #1faaaa
}

.token.selector {
  color: #ad00a1
}

.token.attr-name {
  color: #fd8900
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.url {
  color: #1faaaa
}

.token.attr-value,
.token.control,
.token.directive,
.token.keyword,
.token.unit {
  color: #00c918
}

.token.atrule,
.token.regex,
.token.statement {
  color: #1faaaa
}

.token.placeholder,
.token.variable {
  color: #3777e6
}

.token.deleted {
  text-decoration: line-through
}

.token.inserted {
  border-bottom: 1px dotted #151515;
  text-decoration: none
}

.token.italic {
  font-style: italic
}

.token.bold,
.token.important {
  font-weight: 700
}

.token.important {
  color: #ff0086
}

.token.entity {
  cursor: help
}

pre > code.highlight {
  outline: .4em solid #ff0086;
  outline-offset: .4em
}

.line-numbers .line-numbers-rows {
  border-right-color: #e0e0e0 !important
}

.line-numbers-rows > span:before {
  color: #d0d0d0 !important
}

.line-highlight {
  background: rgba(21, 21, 21, .2) !important;
  background: -webkit-linear-gradient(left, rgba(21, 21, 21, .2) 70%, rgba(21, 21, 21, 0)) !important;
  background: linear-gradient(to right, rgba(21, 21, 21, .2) 70%, rgba(21, 21, 21, 0)) !important
}