<a href="#main-content" class="sr-only">Skip to content</a>
<header role="banner" aria-label="global" class="sticky top-0 mb-4 md:mb-0 md:h-screen md:bg-slate-50">
  <div class="[ relative z-10 ] [ flex gap-x-4 justify-between items-center isolate ] [ px-6 py-4 ] [ text-white md:text-emerald-500 ] [ bg-emerald-400 md:bg-slate-50 ] [ shadow shadow-slate-300 md:shadow-none ]">
    <a href="/" aria-label="{{ site.name }} - home">
      {% include "partials/brand.svg" %} Home
    </a>
    <button aria-expanded="true" class="[ px-4 py-1 ] [ hover:text-emerald-500 active:text-emerald-700 ] [ hover:bg-emerald-100 active:bg-white ] [ rounded border border-solid border-white hover:border-emerald-100 ] md:hidden">Menu</button>
  </div>

  <nav aria-label="primary" class="absolute inset-0 h-screen pt-16 bg-white md:bg-slate-50">
    <ul role="list" class="py-2">
      <li>
        <details>
          <summary class="px-6 py-2 font-bold hover:bg-slate-100 cursor-pointer">Getting started</summary>
          {% set navListItems = collections.gettingStarted %}
          {% include "partials/site-nav-li.html" %}
        </details>
      </li>
      <li>
        <details>
          <summary class="px-6 py-2 font-bold hover:bg-slate-100 cursor-pointer">Ingredients</summary>
          {% set navListItems = collections.ingredients %}
          {% include "partials/site-nav-li.html" %}
        </details>
      </li>
      <li>
        <details>
          <summary class="px-6 py-2 font-bold hover:bg-slate-100 cursor-pointer">Recipes</summary>
          {% set navListItems = collections.recipes %}
          {% include "partials/site-nav-li.html" %}
        </details>
      </li>
    </ul>
  </nav>
</header>
